.button {
    -fx-font-weight: bold;
}

.button:hover {
    -fx-font-weight: bold;
    -fx-background-color: aquamarine;
}

#tab_inventory:hover {
    -fx-background-color: aquamarine;
}

/*.tab {*/
/*    -fx-background-color: aquamarine;*/
/*    -fx-tick-label-fill: antiquewhite;*/
/*    -fx-text-fill: red;*/
/*}*/

.text-input:readonly {
    -fx-background-color: transparent;
}

/* horizontal the two nodes are placed to the left/right of each other. */
.split-pane:horizontal > * > .split-pane-divider {
    -fx-border-color: transparent -fx-box-border transparent #BBBBBB;
    -fx-background-color: transparent, -fx-inner-border-horizontal;
    -fx-background-insets: 0, 0 1 0 1;
}

.border-pane {
    -fx-background-color: red;
}
